@keyframes loading-effect {
  0% {
    color: #9880ff;
  }


  50% {
    color: tomato;
  }
  
  100% {
    color: transparent;
  }
}

.loading-effect {
  animation: loading-effect 1s infinite;
}

.loading {
  display: flex;
  align-items: center;
  height: 65vh;

  h3 {
    margin-right: .5rem;
  }

  .loading-dots {
    display: flex;
    align-items: flex-end;
    height: 1.5rem;
  }
}
