@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: snow;
  font-family: Roboto;
}

body, #root {
  background-color: #303030;
  height: 100%;
}

ul {
  list-style-type: disc;
}

button {
  background: tomato;
  padding: .5rem 1rem;
  border: 2px solid snow;
  border-radius: .2rem;
  margin-bottom: 1rem;
  font-size: medium;

  &:hover {
    cursor: pointer;
    background: snow;
    color: tomato;
  }
}