* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: snow;
  font-family: 'Source Code Pro', monospace, sans-serif;
}

body, #root {
  background-color: #202020;
  height: 100%;
}

button {
  background: tomato;
  padding: .5rem 1rem;
  border: 2px solid snow;
  border-radius: .2rem;
  margin-bottom: 1rem;
  font-size: medium;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.error-page {
  text-align: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}