header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: tomato;
  width: 60%;
  height: 10vh;
  margin: 1rem auto;
  border-radius: .5rem;
}

header h3 {
  margin: 1rem 0;
}