header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: tomato;
  width: 60%;
  min-width: 12rem;
  max-width: 34rem;
  height: 10vh;
  margin: 2rem auto;
  border-radius: .5rem;
  opacity: 0.9;
}

header h3 {
  margin: 1rem 0;
}