#pokemon-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #202020;
  min-width: 12rem;
  width: 50%;
  position: relative;
  z-index: 1;
  grid-column: 1/2;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: .5rem;
  padding: 1rem;

  div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    button {
      background: tomato;
      border-radius: 50%;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background: snow;
      }
    }
  }

  .image {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid snow;
    margin-top: 1rem;

    #pokemon {
      width: 100%;
      position: relative;
      background: #252525;
    }

    .close-modal {
      width: 2rem;
      height: 2rem;
      border: none;
      position: absolute;
      top: .5rem;
      right: .5rem;
      cursor: pointer;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }

  #pokemon-info {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      align-items: center;
      width: 100%;
      padding: .2rem 0;

      span {
        text-align: start;
      }
    }

    .PokemonStats {
      ul {
        min-width: 10rem;
      }
    }

    .overlapping-info-card {
      svg {
        width: 1rem;
        height: .6rem;
        margin-left: .2rem;
        cursor: pointer;
      }

      strong {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      ul {
        position: absolute;
        background: #202020;
        padding: 1rem 1.8rem;
        border: 2px solid snow;
        margin-left: 1.5rem;

        li {
          width: 100%;
        }
      }
    }
  }
}