@import "./animation.scss";

#pokemon {
  width: 60%;
  max-width: 34rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;

  main, section {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .loading {
    display: flex;
    align-items: center;
    height: 65vh;

    h3 {
      margin-right: .5rem;
    }

    .loading-dots {
      display: flex;
      align-items: flex-end;
      height: 1.5rem;
    }
  }

  .pokemon-section {
    grid-column: 1/2;
    padding: .5rem;
    text-align: center;
    margin: 1rem 0;
    border: 2px solid tomato;
    border-radius: .3rem;
    font-weight: 700;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
    }

    &:hover, button:hover {
      border-radius: .2rem;
      background: #202020;
      cursor: pointer;
    }
  }
}

.toggle-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}